body {
    width: 0px;
            margin: 0, auto;
           
            background-image: red;
            
            }

    
      p {
    
        color: rgba(8, 5, 86, 0.708);
    
        font-style: bold;
        text-align: justify;
        font-size: large;
    
        text-decoration: solid;
    
        box-sizing: border-box;
    
      }
       h1 {
       color: rgb(193, 54, 54);
       font-style: italic;
       
      }
      
  